/* @font-face {
    font-family: BlueFish;
    src: url("font/BluefishIRREGULARDEMO.woff") format("woff");
}

* {
    font-family: BlueFish;
} */

body{
    background-color: rgba(227, 185, 129,.5);
    color: #252B25;
}

h1{
    color: #B3572D;
    background-color: #817A64;
    display: inline;
    padding: 20px;
}

img{
    height: 40px;
}