h1 img{
    height: 40px;
    border: none !important;
}

main img{
    display: block;
    margin: 10px;
}

p img{
    display: block;
    margin: 40px;
}
img{
    border: solid #4d493b;
}

body{
    background-color: rgba(227, 185, 129,.5);
    color: #252B25;
    font-family: 'Comfortaa';
}

h1{
    color: #B3572D;
    background-color: #817A64;
    display: inline;
    padding: 20px;
}

h2{
    margin-top: 40px;
}

h3{
    display: inline;
    background-color: #4d493b;
    color: #FBFBF7;
    padding: 10px;
}

a{
    background-color: salmon;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 20px;
}

address p{
    padding: 0;
    line-height: 60%;
}

footer{
    margin-top: 100px;
}

table, th, td{
    border-collapse: collapse;
    border: solid black;
    margin: 0;
}

th{
    height: 20px;
    background-color: rgba(250, 128, 114, 0.5) !important;
}

th, td {
    padding: 5px;
    text-align: center;
    background-color: white;
  }

  li p{
      margin: 0 !important;
  }